# Preprocesado de Datos
 ## Se importan datos usando las funcionalidades de Numpy y Pandas
 
 ### Trabajo de Fin de Grado - Universidad de Burgos
 #### Jesús García Armario

In [92]:
## Imports
import pandas as pd
import numpy as np

In [97]:
# Se importa el fichero excel de intervenciones realizadas
df = pd.read_excel('rptListadoIntervRealizadas.xls',header = [9,10], skipfooter = 12,index_col=[1,4,5])

# Eliminamos columnas vacías
df = df.droplevel(level=1,axis=0)
df = df.droplevel(level = 1, axis = 1)
df = df.dropna(axis=1, how='all')
del df['QUIRÓFANO']
del df['APELLIDOS, NOMBRE']
del df['TURNO']
del df['INICIO']
del df['FIN']
df = df.drop(df.columns[[0]],axis=1)

# Se renombran las columnas repetidas
cols = []
count = 1
countT = 1
contC = 1
for i in df.columns:
    if i=='DURACIÓN':
        cols.append('DURACIÓN'+str(count))
        count += 1
        continue
    if i == 'TIPO':
        cols.append('TIPO'+str(countT))
        countT+=1
        continue
    if i=='CARÁCTER ECONÓMICO':
        cols.append('CARÁCTER ECONÓMICO'+str(contC))
        contC+=1
        continue
    cols.append(i)

df.columns = cols

# Eliminamos la columna que sobra
del df['DURACIÓN1']
# Renombramos la otra
df.rename(columns = {"TIPO1": "TIPO", "TIPO2": "TURNO", "DURACIÓN2":"DURACIÓN", "CARÁCTER ECONÓMICO1":"CARÁCTER ECONÓMICO",
"CARÁCTER ECONÓMICO2":"PONDERACIÓN"},inplace=True)

# Eliminamos filas vacías
df = df.dropna(axis=0,how = 'all')
# Codificamos: Cirugía Menor = 0; Cirugía Mayor = 1
df['TIPO'] = df['TIPO'].replace(['Menor','Mayor'],[0,1])
# Codificamos: Mañana = 0; Tarde = 1
df['TURNO'] = df['TURNO'].replace(['Mañana','Tarde'],[0,1])
# Codificamos: Actividad Ordinaria = 0; Continuidad Asistencial = 1
df['CARÁCTER ECONÓMICO'] = df['CARÁCTER ECONÓMICO'].replace(['Actividad Ordinaria','Continuidad Asistencial'],[0,1])
# Eliminamos texto
df['TIPO'] = df['TIPO'].replace(r'^\D',np.nan,regex=True)
df['CARÁCTER ECONÓMICO'] = df['CARÁCTER ECONÓMICO'].replace(r'^\D',np.nan,regex=True)
df['PONDERACIÓN'] = df['PONDERACIÓN'].replace(r'^\D',np.nan,regex=True)
df['NUHSA'] = df['NUHSA'].replace(r'^\D',np.nan,regex=True)
# Eliminamos valores nulos
df = df.dropna(axis=0,how = 'all')

# Cambiamos el nombre del atributo NUHSA
df.rename(columns={"NUHSA":"INTERVENCIÓN"},inplace=True)

df.head(50)

                          INTERVENCIÓN  TIPO  TURNO  CARÁCTER ECONÓMICO  \
HG P-3 QUIROFANO- 3170501          NaN   1.0    0.0                 0.0
                  3170501         86.4   NaN    NaN                94.0
                  2484412          NaN   1.0    0.0                 0.0
                  2484412         86.4   NaN    NaN                39.0
HG P-4 QUIROFANO- 3321891          NaN   1.0    1.0                 0.0
                  3321891          NaN   NaN    NaN                 3.0
                  1918818          NaN   1.0    1.0                 0.0
                  1918818          NaN   NaN    NaN                46.0
                  3387975          NaN   1.0    1.0                 0.0
                  3387975        86.70   NaN    NaN                40.0
                  2195460          NaN   1.0    1.0                 0.0
                  2195460          NaN   NaN    NaN                36.0
                  1897879          NaN   1.0    1.0                 0.0
                  1897879          NaN   NaN    NaN                36.0
                  3523111          NaN   1.0    1.0                 0.0
                  3523111        86.70   NaN    NaN                48.0
                  3034339          NaN   1.0    1.0                 0.0
                  3034339         86.3   NaN    NaN                48.0
                  3367780          NaN   1.0    1.0                 0.0
                  3367780          NaN   NaN    NaN               986.0
                  1261666          NaN   1.0    1.0                 0.0
                  1261666          NaN   NaN    NaN               277.0
                  1607095          NaN   1.0    1.0                 0.0
                  1607095          NaN   NaN    NaN               180.0
                  3315612          NaN   1.0    1.0                 0.0
                  3315612         86.2   NaN    NaN               335.0
                  2410652          NaN   1.0    1.0                 0.0
                  2410652        85.87   NaN    NaN               330.0
                  3133302          NaN   1.0    1.0                 0.0
                  3133302         86.4   NaN    NaN                75.0
                  1050996          NaN   1.0    1.0                 0.0
                  1050996         86.4   NaN    NaN                33.0
                  3176128          NaN   1.0    1.0                 0.0
                  3176128        86.70   NaN    NaN                41.0
                  1304180          NaN   1.0    1.0                 0.0
                  1304180          NaN   NaN    NaN                39.0
                  3485358          NaN   1.0    1.0                 0.0
                  3485358         86.3   NaN    NaN                47.0
                  3507608          NaN   1.0    1.0                 0.0
                  3507608          NaN   NaN    NaN                42.0
                  1492553          NaN   1.0    1.0                 0.0
                  1492553        86.70   NaN    NaN                42.0
                  1129656          NaN   1.0    1.0                 0.0
                  1129656         86.4   NaN    NaN                29.0
                  2209609          NaN   1.0    1.0                 0.0
                  2209609         86.4   NaN    NaN                29.0
                  2216110          NaN   1.0    1.0                 0.0
                  2216110         86.4   NaN    NaN                34.0
                  3340207          NaN   1.0    1.0                 0.0
                  3340207         86.4   NaN    NaN                34.0

                           PONDERACIÓN  DURACIÓN
HG P-3 QUIROFANO- 3170501          NaN       NaN
                  3170501         94.0       NaN
                  2484412          NaN       NaN
                  2484412         39.0       NaN
HG P-4 QUIROFANO- 3321891          NaN      51.0
                  3321891          0.0       NaN
                  1918818          NaN      80.0
                  1918818         46.0       NaN
                  3387975          NaN     110.0
                  3387975         40.0       NaN
                  2195460          NaN      49.0
                  2195460         36.0       NaN
                  1897879          NaN      74.0
                  1897879         36.0       NaN
                  3523111          NaN       NaN
                  3523111         48.0       NaN
                  3034339          NaN      35.0
                  3034339         48.0       NaN
                  3367780          NaN      74.0
                  3367780          0.0       NaN
                  1261666          NaN      54.0
                  1261666        277.0       NaN
                  1607095          NaN      49.0
                  1607095          0.0       NaN
                  3315612          NaN      87.0
                  3315612        335.0       NaN
                  2410652          NaN      45.0
                  2410652        330.0       NaN
                  3133302          NaN      35.0
                  3133302         75.0       NaN
                  1050996          NaN      20.0
                  1050996         33.0       NaN
                  3176128          NaN      40.0
                  3176128         41.0       NaN
                  1304180          NaN      20.0
                  1304180         39.0       NaN
                  3485358          NaN      29.0
                  3485358          0.0       NaN
                  3507608          NaN      35.0
                  3507608         42.0       NaN
                  1492553          NaN      54.0
                  1492553         42.0       NaN
                  1129656          NaN      35.0
                  1129656         29.0       NaN
                  2209609          NaN      40.0
                  2209609         29.0       NaN
                  2216110          NaN      29.0
                  2216110         34.0       NaN
                  3340207          NaN      40.0
                  3340207         34.0       NaN